{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <p>Probando usar el serializer de symfony para crear APIRESTFUL</p>
    </div>
    <a href="{{path('serializer')}}">prueba serializar</a>
    <a href="{{path('deserializer')}}">prueba deserializar</a>
{% endblock %}
{% block stylesheets %}
<style>
</style>
{% endblock %}
