{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <p>Probando usar el serializer de symfony para crear APIRESTFUL</p>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
